.login-page-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-form {
  width: 30%;
  height: 60vh;
  border-radius: 10px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .login-form {
    width: 90%;
  }
}

.inputs-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.user-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.label {
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: 'roboto';
  margin-bottom: 3px;
}

.user-input {
  height: 40px;
  border: 1px solid #7e858e;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 10px;
  font-size: 17px;
  font-family: 'roboto';
  font-weight: normal;
  color: white;
  outline: none;
}

.login-btn {
  width: 100%;
  height: 35px;
}

.error {
  color: red;
  font-size: 12px;
  font-family: 'roboto';
  font-weight: normal;
}
